<ul class="nav" >
    <li class="nav-item" >
        <a class="nav-link" href="{% url 'base' %}">base</a>
    </li>
    <li class="nav-item" >
        <a class="nav-link" href="{% url 'home' %}">home</a>
    </li>
    <li class="nav-item" >
        <a class="nav-link" href="{% url 'login' %}">login</a>
    </li>
    <li class="nav-item" >
        <a class="nav-link" href="{% url 'logout' %}">logout</a>
    </li>
    <li class="nav-item" >
        <a class="nav-link" href="{% url 'signup' %}">signup</a>
    </li>
    <li class="nav-item" >
        <a class="nav-link" href="{% url 'otp_view' %}">otp_view</a>
    </li>
    <li class="nav-item" >
        <a class="nav-link" href="{% url 'user_list' %}">user_list</a>
    </li>
</ul>