<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <style>
        .title-section{
            display: inline-block;
            position: relative;
            animation: rotate_between_screen 10s linear alternate  infinite;
        }
        @keyframes rotate_between_screen {
            from{
                transform: translateX(0);
            }to{
                transform: translateX(
                    calc(100vw - 100%)
                );

            }
        }
    </style>
</head>
<body>
    <header>

        {% include 'partials/navbar.html' %}
        {% include 'partials/sms.html' %}

        <div class="title-section" >
            {{title}} page
        </div>
    </header>
    <main>
        
        {% block content %}
            
        {% endblock content %}
            
    </main>
    <footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </footer>
</body>
</html>